[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
groq = "*"
pydantic = "*"
numpy = "*"
sounddevice = "*"
wavio = "*"
keyboard = "*"
pydub = "*"
requests = "*"
datetime = "*"
pytz = "*"
fuzzywuzzy = "*"
pywhatkit = "*"
pyautogui = "*"
edge-tts = "*"
youtube-transcript-api = "*"
pyaudio = "*"
soundfile = "*"
llama-index-embeddings-huggingface = "*"
llama-index-llms-groq = "*"
llama-index-llms-ollama = "*"
llama-index = "*"

[dev-packages]

[requires]
python_version = "3.13"
